<section class="section-what-have-we-do-container container-fluid">
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>Что мы делаем ?</h2>
            </div>
            <div class="col-md-6 col-xs-6 design">
                <div class="design-title">
                    <h5>Дизайн</h5>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 development">
                <div class="development-title">
                    <h5>Разработка</h5>
                </div>
            </div>
        </div>
    </div>
</section>