<section class="section-why-us container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-6 why-us">
                <div class="why-us-image">
                    <img src="#" alt="why-us">
                </div>
            </div>
            <div class="col-md-6 col-xs-6 inner-section">
                <div class="inner-section item">
                    <div class="item-icon">
                        <img src="#" alt="icon">
                    </div>
                    <div class="item-title">
                        <h4>Точно в срок</h4>
                    </div>
                    <div class="item-description">
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptas, est exercitationem rerum quae repellendus consequuntur mollitia? Repellat, nisi. Quisquam, dolore. Commodi maxime minima natus ut atque laudantium voluptate exercitationem?
                        </span>
                    </div>
                </div>
                <div class="inner-section item">
                    <div class="item-icon">
                        <img src="#" alt="icon">
                    </div>
                    <div class="item-title">
                        <h4>Точно в срок</h4>
                    </div>
                    <div class="item-description">
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptas, est exercitationem rerum quae repellendus consequuntur mollitia? Repellat, nisi. Quisquam, dolore. Commodi maxime minima natus ut atque laudantium voluptate exercitationem?
                        </span>
                    </div>
                </div>
                <div class="inner-section item">
                    <div class="item-icon">
                        <img src="#" alt="icon">
                    </div>
                    <div class="item-title">
                        <h4>Точно в срок</h4>
                    </div>
                    <div class="item-description">
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptas, est exercitationem rerum quae repellendus consequuntur mollitia? Repellat, nisi. Quisquam, dolore. Commodi maxime minima natus ut atque laudantium voluptate exercitationem?
                        </span>
                    </div>
                </div>
                <div class="inner-section item">
                    <div class="item-icon">
                        <img src="#" alt="icon">
                    </div>
                    <div class="item-title">
                        <h4>Точно в срок</h4>
                    </div>
                    <div class="item-description">
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptas, est exercitationem rerum quae repellendus consequuntur mollitia? Repellat, nisi. Quisquam, dolore. Commodi maxime minima natus ut atque laudantium voluptate exercitationem?
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>