<section class="section-proccess container-fluid">
    <div class="container">
        <div class="row">
            <div class="proccess-title">
                <h2>А процесс?</h2>
            </div>
            <div class="col-md-12 col-xs-12 blocks">
                <!--Прототип блок-->
                <div class="block-prototype">
                    <div class="protorype-title">
                        <span>Прототип</span>
                        <span>circle</span>
                    </div>
                    <div class="block-prototype-list">
                        <span>- Брифинг</span>
                        <span>- Общение с заказсчиком</span>
                        <span>- Прототипирование</span>
                    </div>
                </div>
                <!--Исследование блок-->
                <div class="block-study">
                    <div class="study-title">
                        <span>Прототип</span>
                        <span>circle</span>
                    </div>
                    <div class="block-study-list">
                        <span>- Брифинг</span>
                        <span>- Общение с заказсчиком</span>
                        <span>- Прототипирование</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 blocks">
                <!--Создания сайта блок-->
                <div class="block-create-site">
                    <div class="site-title">
                        <span>Прототип</span>
                        <span>circle</span>
                    </div>
                    <div class="block-site-list">
                        <span>- Брифинг</span>
                        <span>- Общение с заказсчиком</span>
                        <span>- Прототипирование</span>
                    </div>
                </div>
                <!--Отзывчивость блок-->
                <div class="block-responsiveness">
                    <div class="responsiveness-title">
                        <span>Прототип</span>
                        <span>circle</span>
                    </div>
                    <div class="block-responsiveness-list">
                        <span>- Брифинг</span>
                        <span>- Общение с заказсчиком</span>
                        <span>- Прототипирование</span>
                    </div>
                </div>
            </div>
            <div class="proccess-bottom-title">
                <h2>Никаких общих фраз, пустіх обещаний и равнодушного отношения</h2>
            </div>
        </div>
    </div>
</section>