<section class="section-acquainted container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-xs-5 acquainted">
                <div class="image-block">
                    <img src="#" alt="acquainted">
                </div>
            </div>
            <div class="col-md-7 col-xs-7 acquainted-text">
                <div class="acquainted-first-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis molestiae cumque incidunt et natus voluptatibus excepturi tempora illo beatae quaerat? Quasi aperiam quo dolorem id. Dolores animi cupiditate et impedit!
                </div>
                <div class="acquainted-second-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, dolores distinctio eius quod facere accusamus explicabo molestias ad illo et soluta excepturi aliquam fugit voluptates similique ratione alias qui quidem!
                </div>
            </div>
        </div>
    </div>
</section>