<section class="section-soft-boost container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-xs-5 soft-boost">
                <div class="image-block">
                    <img src="#" alt="soft-boost">
                </div>
            </div>
            <div class="col-md-7 col-xs-7 digital">
                <div class="digital-text">

                </div>
                <div class="digital-description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero quibusdam assumenda, officia sunt dolorum eveniet enim cumque eos hic, dolore iste, fugit blanditiis voluptas corporis impedit soluta consectetur. Aperiam distinctio praesentium veniam quia inventore quis neque ipsam rerum rem enim, voluptates quasi, quo vero adipisci et quas, mollitia exercitationem.</p>
                </div>
                <div class="digital-button">
                    <button class="btn-success">Хочу сотрудничать!</button>
                </div>
            </div>
        </div>
    </div>
</section>